@import (less) "../../libs/normalize-css/normalize.css";
@import (less) "components/variables";
@import (less) "components/var/colors";
@import (less) "components/var/fonts";
@import (less) "components/cta";
@import (less) "components/reason";
@import (less) "components/contact";

@import (less) "components/typography";
@import (less) "components/utils";
@import (less) "components/grid";
@import (less) "components/home";
@import (less) "components/notification";
@import (less) "components/navigation";
@import (less) "components/header";
@import (less) "components/footer";
@import (less) "components/tentang";
@import (less) "components/loading-bar";
@import (less) "components/dapil";



html {
  background: @bg_html;
}

body {
    font-family: @font_body;
}
.container {
  .as-a-wrapper();
}

.row {
  .as-a-row();
}

.column-1 {
    .set-column(1);
}
.column-2 {
  .set-column(2);
}
.column-3 {
    .set-column(3);
}
.column-4 {
    .set-column(4);
}
.block {
    background: blue;
    opacity: 0.7;
    height: 60px;
}