// background global
@bg_html: #FEFEFE;

// Link
@cl_a_global: #8BC2EE;

// Selection
@cl_selection: #FEFEFE;
@cl_bg_selection: #505A78;

// Navigation
@cl_font_nav_a: #505A78;
@cl_font_nav_a_hover: #8BC2EE;

// CTA
@cl_font_cta_h1: #505A78;
@cl_font_cta_h3: #505A78;
@cl_bg_cta_btn: #8BC2EE;
@cl_cta_btn: #FEFEFE;
@cl_cta_btn_border: #66718D;
@cl_cta_btn_hover: #3ebd98;

// .reason
@cl_font_reason_h2: #505A78;
@cl_font_reason_p: #66718D;

// .contact
@cl_font_contact_h2: #505A78;
@cl_font_contact_p: #66718D;

// .footer
@cl_font_footer_p: #66718D;


// print/index.html
// .header-input
@cl_font_print_header_h2: #505A78;

// .form-input
@cl_font_form_content_input_h3: #505A78;
@cl_font_form_content_input_p: #66718D;
@bg_form_input_text: #505A78;
@bg_form_input_radio: #505A78;
@border_form_input_radio: #66718D;
@bg_form_input_radio_checked: #66718D;
@cl_font_form_content_input_text: #FEFEFE;
@cl_form_input_focus_outline: #505A78;

// .langkah-mudah
@cl_font_langkah_mudah_h2: #505A78;
@cl_font_langkah_mudah_p: #66718D;

// .blue-box
@cl_bg_blue_box: #505A78;